@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

* {
  font-family: "Source Sans Pro", sans-serif;
}
.todo-input {
  font-size: 1.2rem;
  width: 100%;
  padding: 6px 1rem;
  border-radius: 5px;
  outline: none;
  border: 1px solid lightgrey;
}
